*{
    box-sizing: border-box;
}
.container{
    width: 95vw;
}
#datalist {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
#datalist > li{
    padding: 30px;
    background-color: #EEE;
}
#datalist > li p:first-child{
    font-weight: bold;
    text-align: center;
}