* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem;
  background-color: #eee;
}
form button {
  align-self: baseline;
  font-size: 20px;
  cursor: pointer;
  padding: 0.9rem 3rem;
  transition: 0.5s;
  margin-top: 0.5rem;
  background-color: #111;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
}
form input {
  padding: 0.5rem 1rem;
}
